<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906792168270-mg0u0g97voavth782mjghvoqe5mq0b5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906792168270-mg0u0g97voavth782mjghvoqe5mq0b5p</string>
	<key>API_KEY</key>
	<string>AIzaSyC0z3FNnb1AuBB99b6PXk3zt4lGcZnnMhk</string>
	<key>GCM_SENDER_ID</key>
	<string>906792168270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rigow</string>
	<key>PROJECT_ID</key>
	<string>rego-10ab1</string>
	<key>STORAGE_BUCKET</key>
	<string>rego-10ab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906792168270:ios:00629a147a18aacc588c1f</string>
</dict>
</plist>